<!DOCTYPE html>
<head>
        <title>Meet Leonardo</title>
        <link rel='stylesheet' type='text/css' href="{{url_for('static',filename='style.css')}}">
</head>
<body>
        <div class='main'>
                <h1>Meet Leonardo</h1>
                <img src="{{ url_for('static', filename='leonardo.jpg') }}">
                <p><a href='/turtle/blue'>Leonardo</a></p>
		<img src="{{ url_for('static', filename='tmnt.png') }}">
                <h4><a href='/turtle'>See all Ninja's</a></h4>
        </div>
</body>
</html>
