
<!DOCTYPE html>
<html>
<head>
        <title>Welcome to Brice's Portfolio</title>
        <link rel='stylesheet' type='text/css' href="{{url_for('static',filename='style.css')}}">
</head>
<body>
	<div class='main'>
	        <h1>Welcome to About Brice</h1>
        	<h2>Check out the short story on Brice's likes</h2>
		<p>Integrity</p>
		<p>My values are simple; they are based on faith and family. I believe these come first in all matters.</p>
		<p>When you do business with me, you will feel and experience those values.</p>
		<p>I work hard to earn your trust and keep it by committing to you with a philosophy of honesty and transparency.</p>
		{% with messages = get_flashed_messages() %}
    			{% if messages %}
      				{% for message in messages %}
        				<p>{{message}}</p>
      				{% endfor %}
			{% endif %}
		{% endwith %}
		<form action='/process_survey' method='POST'>
          		<p>Name: <input type='text' name='name'></p>
			<h4>Dojo Location:</h4>
			<p><input type='radio' name='dojoLoc' value='Silicon Valley'>Silicon Valley</p>
          		<p><input type='radio' name='dojoLoc' value='Seattle'>Seattle</p>
			<p><input type='radio' name='dojoLoc' value='Los Angeles'>Los Angeles</p>
			<p><input type='radio' name='dojoLoc' value='Dalls'>Dallas</p>
			<p><input type='radio' name='dojoLoc' value='Washington, D.C.'>Washington, D.C.</p>
			<p><input type='radio' name='dojoLoc' value='Chicago'>Chicago</p>
			<h4>Favorite Language</h4>
			<p><input type='radio' name='favLang' value='Python'>Python</p>
			<p><input type='radio' name='favLang' value='Java'>Java</p>
			<p><input type='radio' name='favLang' value='Swift'>Swift</p>
			<p><input type='radio' name='favLang' value='JavaScript'>JavaScript</p>
			<p><input type='radio' name='favLang' value='C++'>C++</p>
			<p><textarea name='comment' placeholder='Comments'></textarea></p>
			<input type='submit' value="Join Ninja's">
      		</form>
		<p><a href='/'>Home</a></p>
		<p><a href='/projects'>Brice's Projects</a></p>
	</div>
</body>
</html>
