<!DOCTYPE html>
<html>
<head>
        <title>Welcome to Brice's Portfolio</title>
        <link rel='stylesheet' type='text/css' href="{{url_for('static',filename='style.css')}}">
</head>
<body>
	<div class='main'>
	        <h1>Welcome to Brice's Portfolio Page</h1>
        	<h2>Play against Brice with Rock Paper Scissors or check out the links below for past contributions</h2>
		<p>Win: {{session["win"]}}</p>
		<p>Losses: {{session["loss"]}}</p>
		<p>Ties: {{session["tie"]}}</p>
		<h1>Rock Paper Scissors</h1>
		{%if session["outcome"] == "win":%}
		<p>The opponent picked {{session["opponentOut"]}} and you picked {{session["playerHand"]}}, you win!</p>
		{%elif session["outcome"] == "tie":%}
		<p>The opponent picked {{session["opponentOut"]}} and you picked {{session["playerHand"]}}, you tie!</p>
		{%elif session["outcome"] == "loss"%}
		<p>The opponent picked {{session["opponentOut"]}} and you picked {{session["playerHand"]}}, you lose!</p>
		{%endif%}
		<div class="button">
			<form class="formButton" action="/process_play" method="post">
				<input type="hidden" name="hand" value="rock">
        			<input type="submit"  value="rock">
			</form>
			<form class="formButton" action="/process_play" method="post">
	        		<input type="hidden" name="hand" value="paper">
			        <input type="submit"  value="paper">
			</form>
			<form class="formButton" action="/process_play" method="post">
				<input type="hidden" name="hand" value="scissors">
        			<input type="submit"  value="scissors">
			</form>
		</div>
		<form class="reset" action="/endGame" method="post">
			<input type="submit" value="Reset Score">
		</form>
		<ul class='leaveHome'>
                        <li class='projects'><a href='/projects'>Projects: Past, Current, Future</a></li>
                        <li class='about'><a href='/about'>About Brice</a></li>
                </ul>
	</div>
</body>
</html>
