<!DOCTYPE html>
<html>
<head>
        <title>Welcome to Brice's Portfolio</title>
        <link rel='stylesheet' type='text/css' href="{{url_for('static',filename='style.css')}}">
</head>
<body>
	<div class='main'>
	        <h1>Welcome to Brice's Portfolio Page</h1>
        	<h2>Check out any of the links below for some of his past contributions</h2>
        	<ul class='leaveHome'>
                	<li class='projects'><a href='/projects'>Projects: Past, Current, Future</a></li>
                	<li class='about'><a href='/about'>About Brice</a></li>
        	</ul>
	</div>
</body>
</html>
