<!DOCTYPE html>
<html>
<head>
	<title>Welcome to Brice's Portfolio</title>
	<link rel='stylesheet' type='text/css' href="{{url_for('static',filename='style.css')}}">
</head>
<body>
	<div class='main'>
		<h1>Welcome to Brice's Projects</h1>
		
		<h2>Check out any of the links below for some of his projects</h2>
		<ul>
			<li class='projects'><a href='https://github.com/loyti'>GitHub</a></li>
			<li class='projects'><a href='https://github.com/loyti/rPi'>Raspberry Pi</a></li>
			<li class='projects'><a href='https://github.com/loyti/GitHubRepoAssingment/tree/master/WebFundamentals/ajax/weatherCheck'>Weather Check</a></li>
			<li class='projects'><a href='https://github.com/loyti/GitHubRepoAssingment/tree/master/WebFundamentals/ajax/pokemon'>Pokemon</a></li>
		</ul>
		<p><a href='/'>Home Page</a></p>
		<p><a href='/about'>About Brice</a></p>
	</div>
</body>
</html>
