<!DOCTYPE html>
<html>
<head>
        <title>Welcome to the Creepy Cabin</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
        <h1>You've arrived at the Creepy Cabin</h1>
        <h2>What a long journey, now you're hungry and thirsty...</h2>
        <p><a href='/lady'>Go inside the creepy cabin to look for food</a></p>
        <p><a href='/juice'>Calm your curiousity by investigating the inconspicuous juicebox on the porch</a></p>
</body>
</html>
