body {
	background: #000;
}
h1 {
	color: red;
	text-align: center;
	margin: 20px;
}
h2{
	color: green;
}
p, a {
	color: #fff;
	margin: 20px;
	text-align: center;
	display: inline-block;
}

.river{
	background: blue;
}
.cabin{
	background: brown;
}
